.error-page {
    position: relative;
    min-height: 100vh;
  padding: 0px 82px 95px 82px;
  background: #17002f;
}


.error {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 700px;
  line-height: 818px;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.5);
}

.banner {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.return {
  display: block;
  margin: 0 auto;
  width: 231px;
  height: 66px;
  padding: 17px 57px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #212121;
  background: #73d677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  text-align: center;
}
