.error-page {
  background: #17002f;
}

.error {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 700px;
  line-height: 818px;
  display: flex;
  align-items: center;
  letter-spacing: 4px;

  color: rgba(255, 255, 255, 0.5);
}
