.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 157px;
  background: #1f2a63;
  box-shadow: 0px 4px 16px rgba(136, 146, 160, 0.2);
  border-bottom: 2px solid rgba(136, 146, 160, 0.2);
}

.nav {
  display: flex;
  column-gap: 74px;
}

.header a {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;

  color: #f6f7f9;
}

.active {
  border-bottom: 3px solid #cfdab0;
}
