.char-card {
  width: 351px;
  padding: 5px 176px 15px 25px;
  background: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
}

.char-name {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #212121;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.char-options {
  margin-top: 12px;
  display: flex;
  column-gap: 12px;
}

.value {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212121;
  border: 3px solid #212121;
  border-radius: 100%;
  padding: 15px;
}

.name {
  margin-top: 5px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #4b4b4b;
}

.age-gender {
  margin-top: 11px;
  display: flex;
  column-gap: 12px;
}

.param {
  padding: 5px 10px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #212121;
  background: #c956ff;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
}
